*{
    margin:0px;
    padding:0px;
}

.container{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(#00c3ff,#ffff1c);
}
.container #blank{
    height:100px;
    line-height: 100px;
    width:500px;
    font-size: 40px;
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    border-radius:16px;

}